:root {
  --primary: #d81b60;
  --icon-external: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(115, 130, 140, 0.999)' opacity='0.66' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
  --icon-check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-check-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(0, 0, 0, 0.75)' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}

:root:not([data-theme='dark']),
[data-theme='light'] {
  --invalid-color: #c62828;
  --valid-color: #388e3c;
  --nav-background-color: rgba(255, 255, 255, 0.7);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #fff;
  --article-code-background-color: #f9fafb;
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --invalid-color: rgba(183, 28, 28, 0.5);
    --valid-color: rgba(46, 125, 50, 0.5);
    --nav-background-color: rgba(16, 24, 30, 0.8);
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --nav-logo-color: #0e1419;
    --article-code-background-color: var(--code-background-color);
  }
}
[data-theme='dark'] {
  --invalid-color: rgba(183, 28, 28, 0.5);
  --valid-color: rgba(46, 125, 50, 0.5);
  --nav-background-color: rgba(16, 24, 30, 0.8);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #0e1419;
  --article-code-background-color: var(--code-background-color);
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #fff;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #fff;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

a.external::after {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: var(--icon-external);
  background-position: top center;
  background-size: 0.66rem auto;
  background-repeat: no-repeat;
  content: '';
}

.nav-icon {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  padding-bottom: 3px;
}

body > nav {
  padding-right: calc(var(--block-spacing-horizontal) * 2);
  padding-left: calc(var(--block-spacing-horizontal) * 2);

  --nav-link-spacing-vertical: 1rem;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--nav-background-color);
  box-shadow: 0 1px 0 var(--nav-border-color);
}

body > main {
  padding-top: calc(var(--block-spacing-vertical) + 1rem);
}

body > nav > ul > li {
  vertical-align: middle;
  display: inline-block;
}

article {
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

article img {
  padding: 1rem 0.5rem;
}

article h1 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 750;
}

article {
  background-color: var(--background-color);
  box-shadow: none;
}

article > header {
  text-align: center;
  background-color: var(--background-color);
}

pre {
  font-size: var(--font-size);
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);
}

pre > code {
  font-size: 0.85rem;
}

p {
  margin-bottom: 0.5rem;
}

.list > ul > li {
  list-style: none;
  margin-top: 3.5rem;
}

.list > ul {
  padding-left: 0;
}

.list h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.list .next {
  padding-top: 1rem;
}

article ul > li {
  margin-left: 1rem;
}

article ul {
  margin-top: 1.5rem;
}

/** Post-info **/
.post-info,
.list-post-info {
  font-size: 0.6rem;
  line-height: normal;
  opacity: 0.8;
}

.list-post-info {
  margin-top: 30px;
}

.post-info p {
  margin: 0.8em 0;
  font-size: 0.9rem;
}

.list-post-info p {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.list-post-info p.inline-info {
  display: inline-block;
  padding-right: 0.5rem;
}

.list-post-info p.inline-info .separator {
  padding-right: 0.5rem;
}

.post-info .feather,
.list-post-info .feather {
  display: inline-block;
  vertical-align: -0.125em;
  width: 1em;
  height: 1em;
}

.post-info svg,
.list-post-info svg {
  margin-right: 0.3em;
}

.post-info .tag,
.list-post-info .tag {
  margin-right: 0.5em;
}

.post-info .tag::before,
.list-post-info .tag::before {
  content: '#';
}

/** Logo **/

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-display: auto;
  font-family: monospace, monospace;
}
.logo img {
  height: 44px;
}
.logo__mark {
  margin-right: 5px;
}
.logo__text {
  font-size: 1.125rem;
}
.logo__cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  margin-left: 5px;
  border-radius: 1px;
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: 10;
}
@media (prefers-reduced-motion: reduce) {
  .logo__cursor {
    animation: none;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background: #d81b60;
  }
  100% {
    opacity: 0;
  }
}

/** End Logo **/

@media (min-width: 992px) {
  body > main {
    --block-spacing-horizontal: calc(var(--spacing) * 1.75);
    grid-column-gap: calc(var(--block-spacing-horizontal) * 3);
    display: grid;
    grid-template-columns: 200px auto;
  }
}
@media (min-width: 1200px) {
  body > main {
    --block-spacing-horizontal: calc(var(--spacing) * 2);
  }
}

/* Used to be able to take into account the fixed header offset
 * when clicking on an anchor link.
 *
 * See https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
 */
[id]::before {
  content: '';
  display: block;
  height: 4rem;
  margin-top: -4rem;
  visibility: hidden;
}

/** Aside start **/

main > aside nav {
  width: 100%;
  padding-bottom: var(--block-spacing-vertical);
}
@media (min-width: 992px) {
  main > aside nav {
    position: fixed;
    width: 200px;
    max-height: calc(100vh - 5.5rem);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
main > aside nav a#toggle-docs-navigation {
  display: block;
  margin: 0;
  margin-bottom: var(--spacing);
  padding: 0;
  padding-bottom: var(--spacing);
  border-bottom: var(--border-width) solid var(--accordion-border-color);
}
main > aside nav a#toggle-docs-navigation svg {
  margin-right: calc(var(--spacing) * 0.5);
  vertical-align: -3px;
}
@media (min-width: 992px) {
  main > aside nav a#toggle-docs-navigation {
    display: none;
  }
}
main > aside nav.closed-on-mobile a#toggle-docs-navigation svg.collapse {
  display: none;
}
main > aside nav.closed-on-mobile details {
  display: none;
}
@media (min-width: 992px) {
  main > aside nav.closed-on-mobile details {
    display: block;
  }
  main > aside nav.closed-on-mobile > a#toggle-docs-navigation {
    display: none;
  }
}
main > aside nav.open a#toggle-docs-navigation svg.expand {
  display: none;
}
main > aside details {
  padding-bottom: 0;
}
main > aside details summary {
  padding-bottom: 0.5rem;
}
main > aside li,
main > aside summary {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
}
main > aside ul {
  padding-left: 0.25rem;
}
main > aside li a {
  --nav-link-spacing-vertical: 0.25rem;
  --nav-link-spacing-horizontal: 0.75rem;
}
main > aside li a svg {
  vertical-align: middle;
}
main > aside a.secondary:focus {
  background-color: transparent;
  color: var(--primary-hover);
}
main > aside a[aria-current],
main > aside a[aria-current]:hover {
  color: var(--primary);
}
main > aside details {
  border-bottom: none;
}
main > aside details summary {
  color: var(--h1-color);
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}
main > aside details summary::after {
  display: none;
}
main > aside details[open] > summary {
  margin-bottom: 0;
}
main > aside details[open] > summary:not([role='button']):not(:focus) {
  color: var(--h1-color);
}

.toc-header {
  margin: 0.8em 0;
  font-size: 0.9rem;
  opacity: 0.8;
}

main > aside nav.closed-on-mobile {
  display: none;
}
@media (min-width: 992px) {
  main > aside nav.closed-on-mobile {
    display: block;
  }
}
