{% extends "layout.html" %}

{% block content %}
  <article>
    <h1>Le site des développeurs qui se posent des questions</h1>
    <p>
      Vous voulez <strong>apprendre à programmer</strong> ? Vous cherchez des tutoriels pour <strong>débutants</strong> et avez toujours rêvé de savoir utiliser la <strong>ligne de commande</strong> ? Vous vous demandez <strong>quel langage de programmation choisir</strong> ? Est-ce que vous devriez accepter des <strong>BSPCE</strong> ? Comment est-ce qu'on devient <strong>CTO</strong> ?
    </p>

    <p>Vous êtes au bon endroit !</p>

    <p>Je me suis toujours posé plein de questions pendant tout ma vie de développeur et je continuerai toujours à le faire. Ce blog est un modeste essai pour répondre à quelques unes d'entres-elles.</p>
    <div class="home-cta">
      <a href="/articles" role="button">Lire les articles →</a>
      <a href="https://vimebook.com" class="external-button" role="button" target="_blank">Apprendre Vim</a>
    </div>

  </article>
{% endblock content %}
