{% extends "layout.html" %}

{% block content %}
  <article>
    <h1>Du code. Des trucs. Des trucs de code.</h1>
    <p>
    Avec un peu de chance, vous apprendrez deux trois nouveaux trucs sur des sujets comme : <strong>la programmation</strong>, la <strong>ligne de commande</strong>, <strong>vim</strong> ou encore <strong>linux</strong>.</p>
    <p>Ou pas, mais j'aurais tout donné !</p>
    <p>Venez me faire un coucou sur <a class="external" target="_blank" href="https://mamot.fr/@vjousse" rel="me">Mastodon</a> si l'envie vous prend de discuter !</p>
    <div class="home-cta">
      <a href="/articles" role="button">Lire les articles →</a>
      <a href="https://vimebook.com" class="external-button" role="button" target="_blank">Apprendre Vim</a>
    </div>

  </article>
{% endblock content %}
